* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

.header-top {
    width: 100vw;
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
    height: 800px;
    background-color: #E1FF8F;
    margin: 0 auto;
    overflow: hidden;

    &__box-text {
        width: 1440px;
        height: 710px;
        position: relative;
        overflow: hidden;
    }


    &__title-text-button {
        width: 768px;
        height: 188px;
        margin-top: 196px;
        margin-left: 120px;
    }

    &__title {
        width: 768px;
        height: 156px;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
    }
}

.FW600 {
    font-weight: 600;
}

.anchors {
    text-decoration: none;
}

.header-top {

    &__button {
        width: 247px;
        height: 66px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 48px;
    }

    &__button:hover {
        background: rgb(255, 255, 255);
        color: rgb(32, 32, 39);
        cursor: pointer;
    }
}


.header-top {

    &__big-star {
        width: 1074px;
        height: 1130.46px;
        position: absolute;
        left: 854px;
        top: -333.46px;

    }

    &__star1 {
        width: 57px;
        height: 57px;
        position: absolute;
        top: 94px;
        left: 63px;
    }

    &__star2 {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 69px;
        left: 156px;
    }

    &__star3 {
        width: 83px;
        height: 83px;
        position: absolute;
        top: 568px;
        left: 1013px;
    }

    &__star4 {
        width: 37px;
        height: 37px;
        position: absolute;
        top: 538px;
        left: 948px;
    }
}

.running-line {
    height: 90px;
}


.main {
    margin: 0 auto;
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
    background: rgb(32, 32, 39);
}

.about-games {
    width: 100vw;
    height: 1470px;
    background: rgb(32, 32, 39);
    padding-top: 94px;
    position: relative;
    overflow: hidden;

    &__big-box {
        width: 1201px;
        height: 1326px;
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    &__top-item {
        width: 1201px;
        height: 1056px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 119px;
    }

    &__title {
        width: 314px;
        height: 78px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 24px;
    }

    &__text {
        width: 788px;
        height: 96px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }


    &__bottom-item {
        width: 1201px;
        height: 1056px;
        display: flex;
        gap: 32px;
        margin-left: 119px;
        z-index: 1;
    }

    &__article-box {
        width: 378px;
        height: 1056px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__link-article {
        text-decoration: none;
    }

    &__box {
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
    }

    &__img {
        width: 378px;
        height: 314px;
    }

    &__text-title {
        width: 314px;
        /* height: 91px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    &__button {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        width: 108px;
        height: 36px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        border: none;
    }

    &__subtitle {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }
}

.guess-number {
    width: 378px;
    height: 473px;
    transition: 0.5s ease-in-out;
}

.rock-scissors-paper {
    width: 378px;
    height: 551px;
    transition: 0.5s ease-in-out;
}

.simple-arithmetic {
    width: 378px;
    height: 512px;
    transition: 0.5s ease-in-out;
}

.simple-quiz {
    width: 378px;
    height: 512px;
    transition: 0.5s ease-in-out;
}

.turn-text-over {
    width: 378px;
    height: 473px;
    transition: 0.5s ease-in-out;
}

.random-color-generator {
    width: 378px;
    height: 551px;
    transition: 0.5s ease-in-out;
}


.about-games {

    &__star5 {
        position: absolute;
        top: 97px;
        left: 975px;
        width: 584.72px;
        height: 584.72px;

    }

    &__star6 {
        position: absolute;
        width: 31.34px;
        height: 31.34px;
        top: 770px;
        left: 25px;
    }

    &__star7 {
        position: absolute;
        width: 54.6px;
        height: 54.6px;
        top: 822px;
        left: 40px;
    }
}


.mini-games {
    width: 1440px;
    height: 3500px;
    background: rgb(32, 32, 39);
    margin: 0 auto;
    padding-top: 48px;

    &__big-box {
        width: 1200px;
        height: 3310px;
        margin: 0 auto;
        position: relative;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }

    &__container {
        width: 1200px;
        height: 3160px;
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__article {
        width: 1200px;
        height: 500px;
        border-radius: 30px;
        box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        display: flex;
    }

    &__option {
        width: 600px;
        height: 500px;
        margin-top: 48px;
        margin-left: 48px;
    }

    &__subtitle {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
    }

    &__button {
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 36px;
    }

    &__button:hover {
        color: rgb(32, 32, 39);
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }

    &__star8 {
        position: absolute;
        width: 35.15px;
        height: 35.15px;
        top: 47px;
        left: 1157px;
    }

    &__star9 {
        position: absolute;
        width: 68.86px;
        height: 68.86px;
        top: 80px;
        left: 1200px;
    }

    &__star10 {
        position: absolute;
        width: 41px;
        height: 41px;
        top: 3368px;
        left: 1129px;
    }

    &__star11 {
        position: absolute;
        width: 69px;
        height: 69px;
        top: 3320px;
        left: 1199px;
    }
}


.footer {
    width: 100vw;
    height: 150px;
    background: rgb(189, 237, 53);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }
}



@import 'animation';
@import 'mobile';